<div class="flex flex-col flex-auto min-w-0">
  <div class="bg-card ">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
      <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
        <div class="flex flex-auto items-center min-w-0">
              
          <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
              <img src="assets/images/avatars/brian-hughes.jpg" class="w-full h-full object-cover">
          </div>
              <div class="flex flex-col min-w-0 ml-4">
                <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate ng-star-inserted">
                          
                      Welcome back, Shawn!

                 </div>
                
        <div class="flex items-center">
            <mat-icon role="img" 
                    class="mat-icon notranslate icon-size-5 mat-icon-no-color" 
                    aria-hidden="true" 
                    data-mat-icon-type="svg" 
                    data-mat-icon-name="bell" 
                    data-mat-icon-namespace="heroicons_solid">
            
                <svg xmlns="http://www.w3.org/2000/svg" 
                   viewBox="0 0 24 24" 
                   fill="currentColor" 
                   aria-hidden="true" 
                   fit="" 
                   height="100%" 
                   width="100%" 
                   preserveAspectRatio="xMidYMid meet" 
                   focusable="false">
          
                  <path fill-rule="evenodd" 
                    d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z" 
                    clip-rule="evenodd"></path>
                </svg>
            </mat-icon>
    
    
            <div class="ml-1.5 leading-6 truncate text-secondary">
                  You have 2 new messages and 15 new tasks
            </div>

            
        </div>
      </div>
    </div>

      <button mat-flat-button="" 
        class="bg-accent mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-accent mat-mdc-button-base" 
        mat-ripple-loader-class-name="mat-mdc-button-ripple">
        
        <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
        
        <mat-icon role="img" 
            class="mat-icon notranslate icon-size-5 mat-icon-no-color" 
            aria-hidden="true" 
            data-mat-icon-type="svg" 
            data-mat-icon-name="envelope" 
            data-mat-icon-namespace="heroicons_solid"  style="color: white;">

          <svg xmlns="http://www.w3.org/2000/svg" 
              viewBox="0 0 24 24" 
              fill="currentColor" 
              aria-hidden="true" 
              fit="" height="100%" 
              width="100%" 
              preserveAspectRatio="xMidYMid meet" 
              focusable="false">
          </svg>
        </mat-icon>
      
        <span class="mdc-button__label" style="color: white;">
        <span class="ml-2" >
          Messages
        </span>
      </span>
      <span class="mat-mdc-focus-indicator"></span>
      <span class="mat-mdc-button-touch-target"></span>
      <span class="mat-ripple mat-mdc-button-ripple"></span>
  </button>

  </div>
</div>
